name: CI/CD Pipeline MLOps DevSecOps

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # Pipeline sem práticas MLOps
  baseline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Instalar dependências
        run: pip install -r requirements.txt

      - name: Rodar script ML simples
        run: python 01_model_training/train_model.py
      # Métricas como tempo total de execução e falhas não tratadas

  # Pipeline COM práticas MLOps
  mlops-devsecops:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Instalar dependências
        run: pip install -r requirements.txt

      - name: Linter (Flake8)
        run: flake8 01_model_training 02_model_serving_api || true

      - name: Testes Unitários
        run: pytest tests/

      - name: Análise de Segurança (Bandit)
        run: bandit -r 01_model_training 02_model_serving_api -f json -o reports/bandit_report.json || true

      - name: Análise de Vulnerabilidades em dependências
        run: safety check

      - name: Instalar ferramentas de teste e segurança
        run: pip install flake8 pytest bandit safety

      - name: Build Docker Image
        run: docker build -t tcc-mlops:latest .

      - name: Scan de Imagem (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'tcc-mlops:latest'

      - name: Rodar script ML com monitoramento
        run: python 01_model_training/train_model.py
      # Métricas de tempo, cobertura de testes, vulnerabilidades detectadas
