name: CI/CD Pipeline MLOps DevSecOps

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-lint-secure:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Mostrar diretório atual e arquivos
        run: |
          pwd
          ls -la
          ls -la 02_model_serving_api

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('02_model_serving_api/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Setup Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependências Python
        run: |
          python -m pip install --upgrade pip
          pip install -r 02_model_serving_api/requirements.txt
          pip install flake8 pytest bandit safety

      - name: Rodar Flake8 (análise estática)
        run: flake8 02_model_serving_api

      - name: Rodar testes com Pytest
        run: pytest tests/

      - name: Rodar Bandit (scan de segurança estática/SAST)
        run: bandit -r 01_model_training 02_model_serving_api

      - name: Run Safety check
        run: safety check -r 02_model_serving_api/requirements.txt --full-report

      - name: Build da imagem Docker
        run: docker build -t mlops-devsecops:latest .

      - name: Scan de vulnerabilidades com Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: mlops-devsecops:latest
      
      - name: Run OPA policy check
        run: opa eval --input user.json --data opa-policies/no-root-user.rego 'data.docker.security.deny'

