name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Mostrar diretório atual e arquivos
        run: |
          pwd
          ls -la
          ls -la 02_model_serving_api

      - name: Instalar dependências
        run: |
          cd 02_model_serving_api
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Rodar Flake8 (análise estática)
        run: |
          pip install flake8
          flake8 02_model_serving_api

      - name: Build Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./02_model_serving_api
          push: false
          tags: mlops-devsecops-tcc-api:latest
