name: CI/CD Pipeline MLOps DevSecOps

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # Pipeline sem práticas MLOps
  baseline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Instalar dependências
        run: pip install -r requirements.txt

      - name: Rodar script ML simples
        run: |
          START=$(date +%s)
          python 01_model_training/train_model.py
          END=$(date +%s)
          echo $((END-START)) > reports/train_time_baseline.txt

      - name: Criar pasta de reports
        run: mkdir -p reports

      - name: Upload de reports Baseline
        uses: actions/upload-artifact@v4
        with:
          name: baseline-reports
          path: reports/

  # Pipeline COM práticas MLOps
  mlops-devsecops:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Instalar dependências
        run: pip install -r requirements.txt
      
      - name: Criar pasta de reports
        run: mkdir -p reports

      - name: Linter (Flake8)
        run: flake8 01_model_training 02_model_serving_api || true

      - name: Testes Unitários
        run: pytest tests/ || true

      - name: Análise de Segurança (Bandit)
        run: bandit -r 01_model_training 02_model_serving_api -f json -o reports/bandit_report.json || true

      - name: Análise de Vulnerabilidades em dependências (Safety)
        uses: pyupio/safety-action@v1
        with:
          api-key: ${{ secrets.SAFETY_API_KEY }}
          args: --full-report --json > safety_report.json

      - name: Upload Safety Report
        uses: actions/upload-artifact@v4
        with:
          name: safety-report
          path: safety_report.json

      - name: Build Docker Image
        run: docker build -t tcc-mlops:latest .

      - name: Scan de Imagem (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'python:3.10-slim'
          format: 'json'
          output: 'reports/trivy_report.json'

      - name: Rodar script ML com monitoramento
        run: |
          START=$(date +%s)
          python 01_model_training/train_model.py
          END=$(date +%s)
          echo $((END-START)) > reports/train_time_mlops.txt

      - name: Upload de reports MLOps
        uses: actions/upload-artifact@v4
        with:
          name: mlops-reports
          path: reports/
