name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Instalar dependências
        run: |
          pip install --upgrade pip
          pip install -r 02_model_serving_api/requirements.txt

      - name: Rodar Flake8 (análise estática)
        run: |
          pip install flake8
          flake8 02_model_serving_api

      - name: Build Docker image
        run: |
          docker build -t mlops-devsecops-tcc-api ./02_model_serving_api
