name: CI/CD Pipeline MLOps DevSecOps

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-lint-secure:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Mostrar diretório atual e arquivos
        run: |
          pwd
          ls -la
          ls -la 02_model_serving_api

      - name: Setup Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependências Python
        run: |
          python -m pip install --upgrade pip
          pip install -r 02_model_serving_api/requirements.txt
          pip install flake8 pytest bandit safety

      - name: Rodar Flake8 (análise estática)
        run: flake8 02_model_serving_api

      - name: Rodar testes com Pytest
        run: pytest || echo "Nenhum teste automatizado encontrado"

      - name: Rodar Bandit (scan de segurança estática)
        run: bandit -r 01_model_training 02_model_serving_api

      - name: Rodar Safety (checagem de vulnerabilidades)
        run: safety check -r 02_model_serving_api/requirements.txt

      - name: Build da imagem Docker
        run: docker build -t mlops-devsecops:latest .

      - name: Instalar Trivy
        run: |
          sudo apt-get update && sudo apt-get install -y wget
          wget https://github.com/aquasecurity/trivy/releases/download/v0.44.0/trivy_0.44.0_Linux-64bit.deb
          sudo dpkg -i trivy_0.44.0_Linux-64bit.deb

      - name: Scan de vulnerabilidades com Trivy
        run: trivy image mlops-devsecops:latest
