name: CI - MLOps DevSecOps

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependências Python
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8 pytest

      - name: Lint com flake8
        run: flake8 .

      - name: Rodar testes
        run: |
          pytest || echo "Nenhum teste automatizado encontrado"

  docker-build-and-scan:
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Build da imagem Docker
        run: docker build -t mlops-api ./02_model_serving_api

      - name: Scan de vulnerabilidades com Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'mlops-api'
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
